body {
  margin: 0;
}

.arrow {
  text-align: center;
}

/* arrow animations */
.bounce {
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}
@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

/* embla slider default styling, used for the banner carousel */
.embla {
  overflow: hidden;
}
.embla__container {
  display: flex;
}
.embla__slide {
  flex: 0 0 100%;
  min-width: 0;
}

/* recipes nav from home page */
.nav {
  opacity: 1;
  transition: 0.3s;
  cursor: pointer;
}
.nav:hover {
  opacity: 0.6;
}

/* ingredient title styling on the home page */
.title-ing {
  box-shadow: inset 0 0 0 0 #ff8c42;
  color: "black";
  margin: 0 -0.25rem;
  padding: 0 0.25rem;
  transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}
.title-ing:hover {
  box-shadow: inset 225px 0 0 0 #ff8c42;
  color: white;
}

/* recipe title styling on the home page */
.title-rec {
  box-shadow: inset 0 0 0 0 #ff8c42;
  color: "black";
  margin: 0 -0.25rem;
  padding: 0 0.25rem;
  transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}
.title-rec:hover {
  box-shadow: inset 145px 0 0 0 #ff8c42;
  color: white;
}
